/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


/* default style start */
body {
  line-height: 1.6;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #f3f2f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::before, ::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  width: 100%;
  /* vertical-align: middle; */
  object-fit: cover;
}


header, section, footer {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin: 80px 0;
}

.section-title h2 {
  font-size: 46px;
  color: #000;
  font-weight: 700;
  font-family: "Great Vibes", cursive;
  letter-spacing: 2px;
  text-transform: capitalize;
}

/* default style end */

/* header start */
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.header .logo a {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  font-family: 'Great Vibes', cursive;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header .nav ul li{
  display: inline-block;
  margin-left: 30px;

}

.header .nav ul li a {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  display: block;
  padding: 24px 4px;
  transition: color 0.5s ease;
}

/* header end */


/* home section start*/

.home-section {
  min-height: 100vh;
  position: relative;
  margin-bottom: 80px;
}

.home-section .slide {
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.home-section .slide::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.home-section .slide.active {
  visibility: visible;
  opacity: 1;
}

.home-section .row {
  min-height: 100vh;
}

.home-content {
  flex: 1 1 100%;
  max-width: 100%;
  text-align: center;
  z-index: 100;
  color: #fff;
  font-size: 24px;
}


.home-content p {
  margin-bottom: 16px;
}

.home-content h1 {
  font-size: 68px;
  font-family: 'Great Vibes', cursive;
  letter-spacing: 5px;
  font-weight: 400;
}

.home-content span {
  display: inline-block;
  padding: 8px 30px;
  border: 1px solid #fff;
  border-radius: 30px;
}


@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-section .slide.active .home-content p {
  opacity: 0;
  animation: fadeInTop 1s ease forwards;
}

.home-section .slide.active .home-content h1 {
  opacity: 0;
  animation: fadeInTop 1s ease forwards;
  animation-delay: 0.5s;
}

.home-section .slide.active .home-content span {
  opacity: 0;
  animation: fadeInTop 1s ease forwards;
  animation-delay: 1s;
}

/* home section end*/


/* couple section start */
.couple-section {
  margin-bottom: 80px;
}

.couple-section .couple {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 60px;
  text-align: center;
  position: relative;
}

.couple-section .couple-img {
  width: 300px;
  height: 360px;
}

.couple-section .couple img{
  max-width: 280px;
  border-radius: 50%;
  border: 10px solid transparent;
}

.couple-section .couple h3 {
  font-size: 40px;
  margin: 16px 0;
  font-family: "Great Vibes", cursive;
  letter-spacing: 2px;

}

.couple-section .couple:nth-child(2)::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #ccc;
}

.couple-section .couple p {
  font-size: 16px;
  color: #555;
}

.couple-section .couple .heart-icon {
  position: absolute;
  right: -16px;
  width: 32px;
  background-color: #f3f2f1;
  padding: 5px;
  text-align: center;
  z-index: 2;
  font-size: 18px;
  top: 20%;
}

.social-links {
  margin-top: 28px;
}

.social-links a {
  display: inline-block;
  margin: 0 3px;
}

.social-links i {
  height: 28px;
  width: 28px;
  line-height: 26px;
  border: 1px solid;
  text-align: center;
  display: block;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.social-links a:hover i {
  color: #f3f2f1;
}
/* couple section end */


/* story section start */
.story-section {
  margin-bottom: 80px;

}

.story-section .story-content {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}

.story-section .story-content::before {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  background-color: #ccc;
  width: 1px;
  height: 100%;
}

.story-section .story-item {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 50px;
  position: relative;
}

.story-section .story-item:last-child {
  margin-bottom: 0;
}

.story-section .story-item:nth-child(even){
  flex-direction: row-reverse;
}

.story-section .story-item:nth-child(odd) .story-text {
  padding: 0 60px 0 15px;
  text-align: right;
}

.story-section .story-item:nth-child(odd) .story-img {
  padding: 0 15px 0 60px;
}

.story-section .story-item:nth-child(even) .story-text {
  padding: 0 15px 0 60px;
  text-align: left;
}

.story-section .story-item:nth-child(even) .story-img {
  padding: 0 60px 0 15px;
}

.story-section .story-item i {
  position: absolute;
  left: 50%;
  margin-left: -15px;
  width: 31px;
  text-align: center;
  background-color: #f3f2f1;
  padding: 5px;
  font-size: 18px;
}

.story-section .story-text h3{
  font-size: 24px;
  margin-bottom:8px;
}

.story-section .story-text span.date{
  display: inline-block;
  font-size: 12px;
  color: #555;
  margin: 16px 0;
  text-transform: capitalize;
}

.story-section .story-text p{
  line-height: 1.8;
  color: #555;
}


.story-section .story-img, .story-section .story-text {
  flex: 0 0 50%;
  max-width: 50%;
}

.story-img {
  max-height: 480px;
}

/* story section end */

/* event section start */
.event-section {
  padding-bottom: 130px;
}

.event-section .section-title h2{
  color: #fff;
}

.event-section .event-item {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 0 18px;
}

.event-section .event-item:nth-child(2) {
  transform: translateY(50px);
}

.event-section .event-item-inner {
  flex: 0 0 100%;
  max-width: 100%;
  background-color: #fff;
  padding: 60px 60px 100px;
  text-align: center;
  box-shadow: 0 0 10px #888;
  position: relative;
}

.event-section .event-item-inner::before {
  position: absolute;
  content: '';
  left: 12px;
  right: 12px;
  top: 12px;
  bottom: 12px;
  border: 5px solid #fb839e;
}


.event-section .event-item-inner h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
  text-transform: capitalize;
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
}

.event-section .event-item-inner span {
  display: block;
  font-size: 16px;
  font-weight: 500;
}

.event-section .event-item-inner span:last-of-type {
  margin-bottom: 18px;
}

.event-section .event-item-inner p {
  color: #555;
  line-height: 1.8;
}

.event-section .event-item-inner img {
  position: absolute;
  width: 40px;
  left: 50%;
  bottom: 18px;
  margin-left: -20px;
}

/* event section end */

/* people section start */

.people-section {
  padding-bottom: 80px;
}


.people-section .people-filter {
  padding: 0 15px;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}

.people-section .filter-btn {
  background-color: #dedede;
  color: #555555;
  padding: 7px 16px;
  display: inline-block;
  margin: 0 3px;
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 120px;
}

.people-section .people-item {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 15px;
}

.people-section .people-item-inner {
  background-color: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
}

.people-section .people-item-inner img {
  box-shadow: 0 0 16px #888 ;
  margin-top: -40px;
  height: 220px;
  border-radius: 5px;
  transition: all 0.5s ease;
}
.people-section .people-item-inner img:hover {
  transform: scale(0.95);
}

.people-section .people-item h4 {
  margin: 20px 0 5px;
  text-transform: capitalize;
}

.people-section .people-item p {
  color: #555;
  margin-bottom: 5px;
  font-weight: 500;
  text-transform: capitalize;
}

/* people section end */

/* Gallery section start */
.gallery-section .gallery-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 16px;
}


.gallery-section .gallery-item-inner img {
  transform: scale(1);
  transition: all 0.5s ease;
}

.gallery-section .gallery-item-inner:hover img {
  transform: scale(1.1);
}

.gallery-popup {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.gp-container {
  position: relative;
}

.gallery-popup img {
  height: 90vh;
  width: 90vw;
  max-height: 90vh;
  max-width: 90vw;
}


.gallery-popup .gp-counter {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 5px;
  margin-left: 5px;
}

.gallery-popup .gp-close {
  display: block;
  height: 40px;
  width: 40px;
  background-color: white;
  color: #000;
  font-size: 38px;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.gallery-popup .gp-controls {
  position: absolute;
  left: 0;
  bottom: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}
.gp-controls .prev, .gp-controls .next {
  font-size: 32px;
  text-align: center;
  line-height: 46px;
  cursor: pointer;
  border-radius: 2px;
  background-color: #fff;
  color: #000;
}




.gp-controls .prev i, .gp-controls .next i {
  margin: 24px 12px;
}


/* Gallery section end */



